body {
  font-size: 16px;
  color: #fff;
  background-color: #ECF0F1;
  font-family: Arial, Helvetica, sans-serif;;
}

/** HEADER **/
#header-nav {
  background-color: #00BCD9;
  padding-bottom: 10px;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
  padding-bottom: 10px;
}

.navbar-brand p{
  font-family: 'Lora', Arial, Helvetica, sans-serif;
  color: #800000;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 10px;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -25px;
  line-height: .15;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}


#nav-list {
  margin-top: 5px;
  color: #fff;
}
#nav-list a {
  color: #000;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}




.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
 
  }
  /* End Header */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 20px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 8vw; /* 1vw = 1% of viewport width */
    size: 16px;
    color: #000;
  }


  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.6em;
    text-align: center;
    background-color: #;
    width=100%;
  }
  

 
  /* End Header */

}

/* Body */

* {
  box-sizing: border-box;
}

p {
  padding: 10px;
  margin: 0;
}

.container {
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

section {
  border: 1px solid black;

  width: 100%;
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  position: relative;
  overflow: auto;
}
#main-content {
    width: 100%;
    margin-bottom: 40px;
}

#main-content h2 {
    font-size: 2.9em;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 50px;
    color: #800000;
}

#main-content h3 {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 1em;
    color: #800000;
}

#main-section {
    background-color: #c0c0c0;
    box-shadow: 0 0 20px #0f5900;
    padding: 30px;
    text-align: justify;
}

hr {
  border-color: white;
}
